@model MPP_MVC_Carousel.Models.CategoriaModel
@{
    ViewData["Title"] = "Gestão de Categorias";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
<h1>Excluir</h1>

@if (ViewBag.ErroExclusao != null)
{
    <div class="alert alert-danger">
        @ViewBag.ErroExclusao
    </div>
}

<h3>Tem certeza que deseja excluir isso?</h3>

