@{
    ViewData["Title"] = "Página Inicial";
}

<div id="carouselExample" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="~/images/Homem_De_Ferro.jpg" class="d-block w-100" style="height: 388px; length: object-fit: center;" alt="Slide 1">
    </div>
    <div class="carousel-item">
      <img src="~/images/Transformers.jpg" class="d-block w-100" style="height: 388px; object-fit: center;" alt="Slide 2">
    </div>
    <div class="carousel-item active">
      <img src="~/images/mad_max.jpg" class="d-block w-100" style="height: 388px; object-fit: center;" alt="Slide 3">
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
  </button>
</div>

<div class="text-center mt-4">
  <a class="btn btn-outline-primary px-4 py-2 me-2" href="/Home/Contatos">Contatos</a>
  <a class="btn btn-outline-secondary px-4 py-2" href="/Produtos">Produtos</a>
  <a class="btn btn-outline-secondary px-4 py-2" href="/Categorias">Categorias</a>
</div>